.InputBoxs{
    width: 245px; height: 75px; background-color: rgb(30, 30, 30);color: white;font-size: 32px;
}
.Onayla{
    background-color: rgb(58, 48, 48);
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.Tablo{
    font-size: 35px;
    border-radius: 2px;
    background-color: rgb(44, 40, 40); 
    color: aliceblue;
    border-color: black;
    font-family: Verdana;
    border-radius: 7px; 
    border-style: none;
}
a{
  font-size: 40px;  
}
